<div class="container">
  <h1>Client List</h1>

{{#each clients}}
  <div>
    <h2>Client Name: {{name}}</h2>
    <h3>Account Info:</h3>
    {{#each AccountInfos}}
      <p>Client ID: {{client_id}}</p>
      {{!-- <p>Account ID: {{account_id}}</p> --}}
      <p>Balance: {{balance}}</p>
    {{/each}}
  </div>
{{/each}}
</div>