{{!-- Homepage, renders after you log in --}}

<div class="container">
  <div class="row">
    <h2>Homepage screen</h2>
    <div class="col-12 border border-2 mt-3">
      <h3>
        Today's banking news
      </h3>
    </div>
    <div class="col-12 border border-2 mt-3">
      <h4 class="fw-bolder mt-3">
        Customer Search
      </h4>
      <div class="d-flex justify-content-between mb-3">
        <div class="col-2 mt-3">
          <div class="btn-group">
            <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              Action
            </button>
            <ul class="dropdown-menu">
              <li>Name</li>
              <li>Account</li>
              <li>Debit Card</li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Separated link</a></li>
            </ul>
          </div>
        </div>
        <div class="col-10 mt-3">
          <input class="form-control" type="text" placeholder="Customer Search" aria-label="default input example">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt--3">
  <h3>
    Customer name goes here
  </h3>
</div>