{{!-- Homepage for a Teller to login and to access everything --}}

<div class="container ">
    <form class="login-form">
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Username:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="userName">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password">
            </div>
        </div>
        <button class="btn btn-dark btn-large" type="submit">Login</button>
    </form>
</div>

<div class="container">
    <div class="row">
        <h2>Tellers</h2>
        {{#each tellers}}
        <h3>Name: {{name}}</h3>
        <ul>
            <li>Position: {{position}}</li>
            <li>Username: {{userName}}</li>
        </ul>
    </div>
    {{/each}}
</div>

<script src="/js/login.js"></script>