{{!-- Homepage for a Teller to login and to access everything --}}

  <div class="mb-3">
    <div class="d-flex justify-content-center">
      <h2>
        Hello, please login in below to access the Teller Central system
      </h2>
    </div>
    <div class="d-block">
    <form class="login-form">
      <input type="hidden" value="{{id}}" id="tellerId">
      <div class="row mb-3">
        <label for="userName">Username:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="userName">
        </div>
      </div>
      <div class="row mb-3">
        <label for="password">Password:</label>
        <div class="col-sm-10">
          <input type="password" class="form-control" id="password">
        </div>
      </div>
      <div class="row mb-3">
      </div>
      <button type="submit" class="btn btn-outline-dark">Login</button>
    </form>
  </div>
  </div>

  <script src="/js/login.js"></script>